body{
    margin:0;
    padding:0;
    background:#1b1b1b;
    font-family:Arial, Helvetica, sans-serif;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:40px;
}

.card{
    width:260px;
    background:white;
    color:black;
    border-radius:12px;
    padding:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.card img{
    width:150px;
    height:180px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:15px;
}

.card h2{
    margin:10px 0;
}

.card p{
    margin:8px 0;
    font-size:18px;
}